{% extends "wagtailadmin/login.html" %}
{% load static %}

{% comment %} {% block above_login %}<img src="{% static 'img/wm_logo_colour.png' %}" alt="Custom Logo" width="100" />{% endblock %} {% endcomment %}

{% block branding_login %}
    {% if request.site and request.site.site_name %}
        Sign in to {{ request.site.site_name }}
    {% else %}
        Sign in to Engine
    {% endif %}
{% endblock %}

{% block below_login %}
    </br>
    <img src="{% static 'img/wm_logo_colour.png' %}" alt="Web Mastered Logo (WM)" width="100" />
    <h3>Built by <a href="https://www.webmastered.cf/" target="_blank" style="text-decoration: underline; color: white !important;">Web Mastered</a></br>
    Powered By WM Engine CMS</h3>
{% endblock %}