{% extends "account/base.html" %}

{% load account %}

{% block page_title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>We have sent you an e-mail with a link to a password reset page. Please contact us if you do not receive it within a few minutes.</p>
    <form class="row g-3 my-0 login-form">
        <div class="col-12">
            <a class="btn btn-back" href="/">Exit</a>
        </div>
    </form>
{% endblock %}

