{% extends "portal/base.html" %}

{% block page_title %}Change Password{% endblock %}

{% block content %}
    <h1>Change Password</h1>
    <p class="lead">
        Use this page to change your password. If you cannot remember your current password, click the "Forgot Password?" button
        to go to the password reset page, where you can reset your password. When resetting your password, an email containing the
        one-time-use link will be sent to your primary email address. Follow this link to reset your password.
    </p>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change row g-3">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-md-12">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="col-12">
            <button name="action" class="btn btn-primary" type="submit">Change</button>
            <a href="{% url 'account_reset_password' %}" class="btn btn-outline-primary">Forgot Password?</a>
        </div>
    </form>
{% endblock %}