{% extends "account/base.html" %}

{% load account %}

{% block page_title %}Password Reset{% endblock %}

{% block content %}

    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="mb-0">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset row g-3 login-form mt-0">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-md-12">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="col-12">
            <p>Please contact us if you have any trouble resetting your password.</p>
            <button class="btn btn-send" type="submit">Reset</button>
            <a href="{% url 'account_login' %}" class="btn btn-back" >Back</a>
        </div>
    </form>
{% endblock %}

