<div class="field-column-id_{{ field.name }}">
    {{ field.label_tag }}
    {{ field }}
    {% if field.help_text %}<p class="help-text">{{ field.help_text }}</p>{% endif %}
    {{ field.errors }}
</div>

<script>
    var col_name = "id_{{ field.name }}";
    var col_width = $("#id_{{ field.name }}").attr("col_width")
    $(".field-column-id_{{ field.name }}").addClass("col-"+col_width);
    
    // Set the "None" placeholders as ""
    var placeholder = $("#id_{{ field.name }}").attr("placeholder")
    if (placeholder == "None") {
        $("#id_{{ field.name }}").attr("placeholder", "")
    }
</script>