{% extends "account/email/base_message.html" %}

{% load account %}

{% block content %}
{% user_display user as user_display %}
<h1>Hey {{ user_display }},</h1>
<p>
    It looks like a request was made to reset the password for your WM Portal account. The password reset process is extremely simple, all you need to do
    is click the "Reset" button near the end of this email, which will then take you to a password reset page in the WM Portal website through your internet
    browser.
    <br><br>
    If you didn't request for a password reset, you can safely ignore this email. For extra safety, you can log into your WM Portal and change your password.
    If you need any more help, please feel free to contact the WM team.
    <br><br>
    <a class="btn btn-primary" href="{{ password_reset_url }}" role="button">Reset</a>
    <br><br>
    <p>
        If the button above doesn't work for some reason, visit the following link through your internet browser:<br>
        {{ password_reset_url }}
    </p>
</p>
{% endblock %}